<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>スケジュール</title>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/}"><span></span></a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/}" href="../goods/showGoods.html">ホーム</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<h1>スケジュール</h1>
		<table class="table">
			<thead>
				<tr>
					<th>日時</th>
					<th>内容</th>
					<th>詳細</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</body>
</html>
